.banner__image-iphone {
    margin-top: calc(100vw/30);
    max-width: 345px;
    min-height: 435px;
}

@media screen and (max-width: 1130px) {
    .banner__image-iphone {
        max-width: calc(345px - 10vw);
        min-height: calc(435px - 10vw);
    }
}

@media screen and (max-width: 960px) {
    .banner__image-iphone {
        max-width: 215px;
        min-height: 215px;
    }
}

@media screen and (max-width: 640px) {
    .banner__image-iphone {
        max-width: 176px;
        min-height: 176px;
        margin-right: 7px;
    }
}

@media screen and (max-width: 340px) {
    .banner__image-iphone {
        max-width: 125px;
        min-height: 125px;
        margin-right: 10px;
    }
}