.logo_place_text {
    margin: 0;
    font-size: 42px;
    line-height: 51px;
    font-weight: bold;
}

.logo_place_text::after {
    content: "''";
    display: block;
    color: #fff;
    width: 15px;
    height: 25px;
    position: absolute;
    top: 29px;
    left: 10px;
}