.cards__item {
    box-sizing: border-box;
    margin-top: 75px;
    max-width: 250px;
    min-height: auto;
    text-align: center;
}

@media screen and (max-width: 1130px) {
    .cards__item {
        max-width: 230px;
    }
}

@media screen and (max-width: 960px) {
    .cards__item {
        max-width: 220px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 640px) {
    .cards__item {
        margin-top: 5px;
        max-width: 100%;
        display: flex;
        align-items: center;
    }
}