.menu__link {
    font-size: 20px;
    color: #6C6C6C;
    line-height: 32px;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}

.menu__link:hover {
    color: #5094F2;
    font-weight: bold;
}

.menu__link:hover::after,
.menu__link.active::after {
    opacity: 1;
}

.menu__link.active {
    border-bottom: 2px solid #5094F2;
    color: #5094F2;
}